
*,:after,:before{
    box-sizing:border-box
}

html{
    font-size:100%
}

body{
    margin:0;
    padding:20px;
    font-family:Arial,Helvetica,sans-serif;
    font-size:1rem;
    color:#fff
}

.wrapper{
    margin:auto;
    max-width:75rem
}

aside,footer,header,main,section{
    display:block;
    margin:0;
    padding: 0.5rem;
    border:1px solid #000;
    color:#fff
}

main{
    background:#AAA;
}

.header{
    background: #F0F0F0;
    color: black;
}


@media screen and (min-width:640px){
    .flex-container{
        display:flex
    }
}

.content{
    flex:1;
    background:white;
}

.sidebar{
    flex:0 1 180px;
    background:#F0F0F0;
    color: black;
}

.footer,.sidebar{
    border:1px solid #000;
}

.footer{
    color: black;
    background:white;
}
 
button {
    padding: 0;
}

